<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348717095502-35jd8a8vohjksnedmvks1r801uhoe92m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348717095502-35jd8a8vohjksnedmvks1r801uhoe92m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>348717095502-rho8os1q62r35r4lvpk6ifqtmmagklqv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOqPnLEX8lRVK_81SS9Pqgo1jT0zbJ9yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>348717095502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalHub</string>
	<key>PROJECT_ID</key>
	<string>we-chat-9cb43</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-9cb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348717095502:ios:2aa074247e9097769c811f</string>
</dict>
</plist>